.ui.segment
    each partlist
        +Template.dynamic(template=templateViewName data=subtemplatecontext)
    .actions
        .ui.segment
            |Document Tags
            each tags
                .ui.basic.label #{this}
        if isAuthor
            .edit.ui.button Edit