.ui.label, .ui.button
    margin  .25em .25em .5em .25em !important

body
    height auto !important
    background whitesmoke !important

.ui.cards
    margin 1em

// .ui.shape
//     margin 1em

// .layout
//     margin-top 3em

.capitalized
    text-transform capitalize


.-autocomplete-container
    margin-top 10px !important