.ui.label, .ui.button
    margin  .2em !important

body
    // height auto !important
    background whitesmoke !important


// .layout
//     margin-top 3em


#map
    width 400px
    height 300px
    margin 2em
