.ui.secondary.segment
    if currentUser
        .ui.icon.button#addDoc(href='#'): i.plus.icon
    .ui.label
        +loginButtons align='right'
    .ui.input
        input#search(type='text' placeholder='Search')
    if selected_tags
        #clear_tags.ui.grey.icon.button
            i.remove.icon
    each selected_tags
        .unselect_tag.ui.grey.button
            b #{this}
    each global_tags
        .select_tag.ui.button #{this.name}
    each docs
        +view
