#facetnav.ui.compact.segment
    +loginButtons
    // if currentUser
    //     a#add.ui
    //         i.plus.icon
    //         |Add
    // .ui
    //     .ui.left.icon.input
    //         i.search.icon
    //         input#search(type='text' autofocus='')
    .ui.button.get_messages Get Messages
    |#{user_counter} users
    |#{doc_counter} docs
