
.ui.label, .ui.button
    margin  .2em !important

// .selecttag
//     padding  1em !important

body
    background grey !important
    // height auto !important

.body
    font-size 16px !important
    line-height 1.5em

.ui.segment.globalcloud
    margin-top 0 !important
    padding .5em !important

#facetnav.ui.menu
    margin 0 !important