
.ui.label, .ui.button
    margin  .2em !important

// .selecttag
//     padding  1em !important

body
    background grey !important
    // height auto !important
    margin-bottom 5em !important

.body
    font-size 16px !important
    line-height 1.5em

.ui.segment.globalcloud
    margin-top 0 !important
    margin-bottom .75em !important
    padding .5em !important

#facetnav.ui.menu
    margin-top .5em !important

.CodeMirror
    border 1px solid #eee
    height auto !important
