head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-site-verification', content='PShkMGzF_p9kEzDP0Z1cBNDR5Y_nfPMlhJLyPdiKn24')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')


template(name='layout')
    +nav
    +Template.dynamic template=main


template(name='progressBar')
    .progress
        .progress-bar(role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%;')
            span.sr-only {{progress}}% Complete
