.ui.header
    each tags
        .ui.label= this
if isAuthor
    .ui.button.deletePost Delete
.ui.button.authorButton(class=authorButtonClass) Author: #{username}
|Points #{points}
.ui.icon.button
    i.thumbs.up.icon

.ui.icon.button
    i.thumbs.down.icon