.ui.center.aligned.segment
    .ui.basic.label
        +loginButtons
    if currentUser
        #add.ui.basic.compact.button
            i.plus.icon
            |Add Node
    .ui.left.icon.input
        i.search.icon
        input#search(type='text' placeholder="Search nodes/'clear'" autofocus='')
    if selectedtags
        #cleartags.ui.circular.compact.grey.icon.button
            i.remove.icon
    each selectedtags
        .unselecttag.ui.compact.grey.button
            i.minus.icon
            |#{this}
    each globaltags
        .selecttag.ui.large.compact.basic.button
            |#{this.name}
            small (#{this.count})
.ui.cards
    each nodelist
        .card
            if is_editing
                +node_edit
            else
                +node_view