template(name='comment')
    .comment
        .content
            a.author #{comment.username}
            .metadata
                span.date #{when}
            .text
                | #{comment.text}
            // .actions
            //     a.reply Reply
