template(name='edit')
    with doc
        .container
            .panel.panel-default
                .panel-heading
                    each tags
                        .btn.btn-default.docTag
                            span.glyphicon.glyphicon-minus
                            |#{this}
                .panel-body
                    // .form-horizontal
                    // .form-inline
                    .form-group
                        label(for='addTag')  add tag
                        input#addTag.form-control(type=text autofocus='')
                    // .form-inline
                    .form-group
                        label(for='place') add address
                        input#place.form-control(type='text' value=locationob.formatted_address)
                    // .form-inline
                    .form-group
                        label(for='datetimepicker') add date/time
                        input#datetimepicker.form-control(type="text" value=dateTime)
                        .btn.btn-info.clearDT clear date/time
                    // .form-inline
                .panel-footer
                    a#saveDoc.btn.btn-primary save
                    a#deleteDoc.btn.btn-danger.btn-sm.pull-right delete
