.bs
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box

.ui.button
    margin  .25em .25em .5em .25em !important

.CodeMirror
    height auto

body
    height auto !important
    background whitesmoke !important

.-autocomplete-container
    margin-top 10px !important

.blue
    // background-color #124972 !important