.container
    .row
        .col.s12
            if selected_tags
                #clear_tags.btn.floating.grey
                    i.material-icons close
            each selected_tags
                .unselect_tag.grey.chip
                    |#{this}
            each global_tags
                .select_tag.chip
                    |#{this.name}
                    small #{this.count}
    each docs
        .card
            +view
