template(name='home')
    .panel.panel-default
        .panel-body
            // .input-field
            //     input#search(type='text' autofocus='')
            //     label.active(for='search') Search tags... (backspace to unselect last, 'clear' to clear all)
            if selected_tags
                #clear_tags.btn.btn-primary
                    span.glyphicon.glyphicon-remove-sign
            each selected_tags
                a.btn.btn-primary.unselect_tag #{this}
            each global_tags
                a.btn.btn-default.select_tag #{this.name}
                    // span.badge #{this.count}
    .container
        each docs
            .panel.panel-default
                +view