.ui.attached.segment.globalcloud
    if selected_tags
        #clear_tags.ui.circular.grey.icon.button
            i.remove.icon
    each selected_tags
        .unselect_tag.ui.large.compact.grey.button
            i.minus.icon
            |#{this}
    each global_tags
        .select_tag.ui.large.compact.button
            |#{this.name}
            small #{this.count}
.ui.container
    each docs
        .ui.segment
            +view
