template(name='home')
    #addDoc.fixed-action-btn(style="bottom: 45px; right: 24px;")
        a.btn-floating.btn-large.red
            i.large.material-icons add
    .row
        .col.s12
            .input-field
                input#search(type='text' placeholder='Search tags...')
            if selected_tags
                #clear_tags.btn-floating.grey
                    i.material-icons close
            each selected_tags
                .unselect_tag.grey.chip
                    |#{this}
            each global_tags
                .select_tag.chip
                    |#{this.name}
                    small #{this.count}
    .container
        each docs
            .card
                +view


template(name='dataPiece')
    span.label #{name}
