each tags
    .ui.large.basic.label
        i.remove.link.removenodetag.icon
        |#{this}
.ui.left.icon.input
    i.plus.icon
    input#addtag(type='text' placeholder='Add Tag' autofocus='')
.actions
    #save.ui.basic.attached.button
        i.check.icon
        |Save
    // #delete.ui.circular.basic.button
    //     i.trash.icon
    //     |Delete