.container
    .card
        .card-content
            .card-title Profile
            if hasReceivedTweets
                a.btn.delete_tweets
                    i.material-icons.left delete
                    |Delete My Tweets
            else
                a.btn.get_tweets
                    i.material-icons.left play_for_work
                    |Get My Tweets
            div Tweet Doc Count: #{tweetDocCount}