template(name='nav')
    .ui.menu
        a#homeLink.header.item(href='/')
            img(src='/f_logo.png' height='42' width='42')
        .ui.input.item
            input#quickAdd(type='text' autofocus='' placeholder='Quick Add')
        .right.menu
            if currentUser
                a#addDoc.item
                    i.plus.icon
                    |Add
                a.item(href='/unvoted') Unvoted
                a.item(href='/mine') My Documents
                a.item(href='/profile') Profile [#{user.points} points]
            +loginButtons align='right'


template(name='tagresult')
    .label.label-default #{name}
        small (#{count})
