template(name='nav')
    nav.black.darken-4(role='navigation')
        .nav-wrapper.container
            a.brand-logo(href='/' class="{{isActivePath '/'}}") Facet
            ul.right.hide-on-med-and-down
                if currentUser
                    li(class="{{isActivePath '/mine'}}")
                        a(href='/mine') My Docs
                    li(class="{{isActivePath '/bulk'}}")
                        a(href='/bulk') Bulk Editor
                    li(class="{{isActivePath '/importers'}}")
                        a(href='/importers') Importers
                    li(class="{{isActivePath '/profile'}}")
                        a(href='/profile') Profile
                li
                    +loginButtons
                li
                    small #{user_counter} users #{doc_counter} docs
            ul#nav-mobile.side-nav
                if currentUser
                    li(class="{{isActivePath '/mine'}}")
                        a(href='/mine') My Docs
                    li(class="{{isActivePath '/bulk'}}")
                        a(href='/bulk') Bulk Editor
                    li(class="{{isActivePath '/importers'}}")
                        a(href='/importers') Importers
                    li(class="{{isActivePath '/profile'}}")
                        a(href='/profile') Profile
                li
                    |#{user_counter} users #{doc_counter} docs
            a.button-collapse(href='#', data-activates='nav-mobile')
                i.material-icons menu
