#facetnav.ui.menu
    if currentUser
        a.ui.header.item(href='/') Facet
        .ui.item #{user_counter} users #{doc_counter} docs
        .ui.item
            .ui.left.icon.input
                i.search.icon
                input#search(type='text' placeholder='Search Tags')
        // .ui.item My Points: #{user.points}
    .right.menu
        a.item(href='/boulder') Boulder
        a.ui.item#addDoc(href='#') Add
        +loginButtons align='right'
