template(name='importerList')
    .container
        #addImporter.btn.btn-default add importer
        .panel.panel-default
            .panel-heading my importers
            ul.list-group
                each importers
                    a.list-group-item.editImporter(href='#') #{this.name}
        .panel.panel-default
            .panel-heading import tweets
            .panel-body
                .form-group
                    label.active(for='importTweets') search twitter user
                    input#importTweets.form-control(type=text)

