template(name='importerList')
    .container
        #addImporter.btn.btn-default Add Importer
        .panel.panel-default
            .panel-heading My Importers
            ul.list-group
                each importers
                    a.list-group-item.editImporter(href='#') #{this.name}
        .panel.panel-default
            .panel-heading Import Tweets
            .panel-body
                .form-group
                    label.active(for='importTweets') Search Twitter User
                    input#importTweets.form-control(type=text)

