template(name='messages')
        .ui.segment
            each messages
                +message

template(name='message')
    .ui.segment
        h3 From #{from.username}
        h3 To #{to.username}
        .meta Sent #{humansent}
        .description #{text}
        if read
            .markunread.ui.basic.button Mark Unread
        else
            .markread.ui.button Mark Read
        .deletemessage.ui.button Delete
