template(name='buysell')
    .container
        .panel.panel-default
            .panel-heading Cash Out
            .panel-body
                | Sell 1000 points for $9
        .panel.panel-default
            .panel-heading Buy Points
            .panel-body
                | Buy 1000 points for $11